In [2]:
print("Hello World")

Hello World

In [24]:
''' This is a training session offered by techsaksham
It is going to last till the 26th of this month'''

' This is a training session offered by techsaksham\nIt is going to last till the 26th of this month'

In [8]:
print("Welcome to FDP on AI")
print("I am Vivaan Vivek Patange")

Welcome to FDP on AI
I am Vivaan Vivek Patange

In [38]:
a="This is a test"
print(len(a))

14

In [40]:
a[5]

'i'

In [42]:
a[:5]

'This '

In [44]:
a[5:]

'is a test'

In [46]:
b = a + " this is an addition to the string"
print(b)

This is a test this is an addition to the string

In [48]:
a.upper()

'THIS IS A TEST'

In [50]:
b.lower()

'this is a test this is an addition to the string'

In [52]:
b.split()

['This',
 'is',
 'a',
 'test',
 'this',
 'is',
 'an',
 'addition',
 'to',
 'the',
 'string']

In [54]:
print("We are printing numbers with variables this is {} and this is {}".format(1,2))

We are printing numbers with variables this is 1 and this is 2

In [56]:
print("now here we add identifiers to the brackets {a} and go out of order for the next {c} and {b}".format(a='ou',b=8,c=b))

now here we add identifiers to the brackets ou and go out of order for the next This is a test this is an addition to the string and 8

In [58]:
my_list = [1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 6]

In [60]:
my_list = ['Edunet',3,10.2,'A',32,3]
my_list

['Edunet', 3, 10.2, 'A', 32, 3]

In [62]:
len(my_list)

6

In [64]:
my_list[0]

'Edunet'

In [66]:
my_list[1:]

[3, 10.2, 'A', 32, 3]

In [68]:
my_list + ['new item']

['Edunet', 3, 10.2, 'A', 32, 3, 'new item']

In [70]:
my_list

['Edunet', 3, 10.2, 'A', 32, 3]

In [72]:
my_list = my_list + ['add new item for last']
my_list

['Edunet', 3, 10.2, 'A', 32, 3, 'add new item for last']

In [74]:
new_list = [1,2,3,4,5,6]
new_list.append('append')
new_list

[1, 2, 3, 4, 5, 6, 'append']

In [76]:
new_list.pop()
new_list

[1, 2, 3, 4, 5, 6]

In [132]:
new_list.pop(0)
new_list

[3, 4, 5, 6]

In [80]:
Dict = {'key1':'value1','key2':'value2', 'key3':'value3'}
Dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [82]:
Dict['key2']

'value2'

In [84]:
my_dict = {'key1':123,'key2':[1,2,3],'key3':['Edu','Net','Foundation']}
my_dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['Edu', 'Net', 'Foundation']}

In [136]:
my_dict['key2'][2]

3

In [86]:
my_dict['key3']

['Edu', 'Net', 'Foundation']

In [88]:
my_dict['key3'][0]

'Edu'

In [90]:
my_dict['key3'][0].upper()

'EDU'

In [92]:
my_dict['key1']

123

In [94]:
my_dict['key1'] = my_dict['key1'] + 123
my_dict['key1']

246

In [96]:
tuple = (1,2,3,3,3,'aziz','Edu')
tuple

(1, 2, 3, 3, 3, 'aziz', 'Edu')

In [98]:
len(tuple)

7

In [100]:
tuple[0]

1

In [102]:
tuple[-1]

'Edu'

In [104]:
Set = set()
Set.add(1)
Set.add(2)
Set.add(3)
Set

{1, 2, 3}

In [106]:
Set.add(1)
Set.add(1)
Set.add(4)
Set

{1, 2, 3, 4}

In [108]:
if True:
    print("Yes! It was true.")

Yes! It was true.

In [110]:
x = False

In [112]:
if x:
    print("Yes! It was true.")
else:
    print('I will be printed in any case where {} is not true' .format('x'))

I will be printed in any case where x is not true

In [114]:
loc = 'Andhra Pradesh'

if loc == 'Bangalore':
    print('Welcome to the Bangalore!')
elif loc == 'Andhra Pradesh':
    print('Welcome to the Andhra Pradesh!')
else:
    print('Where are you?')

Welcome to the Andhra Pradesh!

In [138]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [140]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [142]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('{} is Odd number'.format(num))

1 is Odd number
2
3 is Odd number
4
5 is Odd number
6
7 is Odd number
8
9 is Odd number
10

In [144]:
list_sum = 0 
for num in list1:
    list_sum = list_sum + num
print(list_sum)

55

In [146]:
x = 0
while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
else:
    print('\n All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

 All Done!

In [150]:
lst = [x for x in 'Edunet']
lst

['E', 'd', 'u', 'n', 'e', 't']

In [152]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [154]:
sqr_lst = [x**2 for x in range(0,11)]
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [122]:
def say_hello():
    print('hello Edunet')
say_hello()

hello Edunet

In [124]:
def add_num(num1,num2):
    return num1+num2
add_num(2,6)

8

In [130]:
def check_even_list(num_list):
    even_numbers = []
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
    return even_numbers
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

Enter the electricity: 450

The bill is: 2000

In [209]:
a = int(input("Enter the electricity units: "))
bill = 0  

if a <= 200:
    print("The bill is free")
elif a <= 500:  
    bill = (a - 200) * 8
    print("The bill is: {}".format(bill))
elif a <= 1000:  
    bill = (300 * 8) + ((a - 500) * 11)
    print("The bill is: {}".format(bill))
else:
    bill = (300 * 8) + (500 * 11) + ((a - 1000) * 14)
    print("The bill is: {}".format(bill))

Enter the electricity units:  3550

The bill is: 43600

In [213]:
salary=int(input("Enter your salary:"))
if salary <=1000000:
    print("There is no tax")
elif salary<=1200000:
    salary = salary - 200000
    tax = (10/100)*salary
    print("Tax is {}".format(tax))
elif salary<=3000000:
    salary = salary - 200000
    tax = (20/100)*salary
    print("Tax is {}".format(tax))

else:
    salary = salary - 200000
    tax = (30/100)*salary
    print("Tax is {}".format(tax))

Enter your salary: 6500000

Tax is 1890000.0

In [163]:
a=int(input("Enter 1st numbers"))
b=int(input("Enter 2nd number"))
c=int(input("Enter 3rd number"))

if a>b & a>c:
    print("1st number is greatest")
elif b>a & b>c:
    print("2nd is the greatest")
else:
    print("3rd is the greatest")

Enter 1st numbers dad

ValueError: invalid literal for int() with base 10: 'dad'

In [235]:
salary = int(input("Enter your salary: "))
saving = int(input("Enter your saving: "))

after_sav = salary - saving
tax = 0  # Initialize tax

if after_sav <= 1000000:
    tax = 0.1 * after_sav

elif after_sav <= 2200000:
    tax += 0.1 * 1000000  
    after_sav -= 1000000  
    tax += 0.2 * after_sav 

else:
    tax += 0.1 * 1000000  
    tax += 0.2 * 1200000  
    after_sav -= 2200000  
    tax += 0.3 * after_sav  

print(f"Your saving is: {saving}")
print(f"Your tax is: {tax}")

Enter your salary:  4500000
Enter your saving:  150000

Your saving is: 150000
Your tax is: 985000.0

In [240]:
a = 13183
print(len(str(a)))

5

In [264]:
#Armstrong Number

n = int(input("Enter a number"))
x = len(str(n))
s = 0
for i in range(x):
    s += int(str(n)[i])**x
if s == n:
    print("It is armstrong")
else:
    print("NO")

Enter a number 153

It is armstrong

In [312]:
#Prime Number
def isitprime():
    input_number = int(input("Enter a prime number"))
    a = input_number
    b = a//2
    is_prime = False
    for i in range(2,b):
        if(input_number%i==0):
            is_prime=False
            break
        else:
            print("hogya")
            is_prime=True
    
    if is_prime:
        return True
    else:
        return False

Enter a prime number 34

no

In [345]:
def isprime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2)):  
        if n == 4:
            return False
        if n % i == 0:
            return False
    return True

num = int(input("Enter the amount of prime numbers needed: "))

prime = []
i = 2  
while len(prime) < num:
    if isprime(i):
        prime.append(i)
    i += 1

print(prime)

Enter the amount of prime numbers needed:  10

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
a = []
n = int(input("Enter the number of elements: "))
for i in range(n):
    x = int(input("Enter element: "))
    a.append(x)

print("Original list:", a)

def asort(b: list) -> list:
    for i in range(len(b) - 1): 
        for j in range(len(b) - i - 1): 
            if b[j] > b[j + 1]: 
                b[j], b[j + 1] = b[j + 1], b[j]
    return b  #

sorted_list = asort(a)
print("Sorted list:", sorted_list)

def dsort

String = "This is a string"
count = 0

In [14]:
String = "This is a string"
def length(str):
    count = 0
    for i in str:
        count += 1
    return count
print(length(String))

16

In [41]:
String = input("Enter any string to convert into upper: ")

def toupper(str):
    answer = ""
    for i in str:
        if ord(i) >= 65 and ord(i) <= 90: 
            answer += i
        elif ord(i) >= 97 and ord(i) <= 122: 
            answer += chr(ord(i) - 32) 
        else:
            answer += i  
    return answer

def tolower(str):
    answer = ""
    for i in str:
        if ord(i) >= 65 and ord(i) <= 90: 
            answer += chr(ord(i) + 32)         
        elif ord(i) >= 97 and ord(i) <= 122: 
            answer += i
        else:
            answer += i  
    return answer

print(toupper(String))
print(tolower(String))

Enter any string to convert into upper:  This is a test 2104814'   '/q'q;

THIS IS A TEST 2104814'   '/Q'Q;
this is a test 2104814'   '/q'q;

In [43]:

num = int(input("Enter a number to check if it is an Armstrong number: "))
temp = num
sum_val = 0


n = num
count = 0
while n > 0:
    count += 1
    n //= 10

while temp > 0:
    digit = temp % 10
    sum_val += digit ** count
    temp //= 10

if sum_val == num:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number to check if it is an Armstrong number:  412894

412894 is not an Armstrong number

In [45]:

num = int(input("Enter a number to check if it is prime: "))

if num <= 1:
    print(num, "is not a prime number")
else:
    i = 2
    is_prime = True
    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1

    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

Enter a number to check if it is prime:  41094

41094 is not a prime number

In [51]:
n = int(input("Enter the number of terms for the Fibonacci sequence: "))

a = 0
b = 1
count = 0

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci sequence:")
    print(a)
else:
    print("Fibonacci sequence:")
    while count < n:
        print(a, end=" ")
        c = a + b
        a = b
        b = c
        count += 1

Enter the number of terms for the Fibonacci sequence:  5

Fibonacci sequence:
0 1 1 2 3

In [53]:
String = "Walchand Institute Of Technology, Solapur"

In [61]:
string = "Walchand Institute Of Technology, Solapur"

# 1. Count occurrences of each character
char_count = {}
i = 0
while i < len(string):
    char = string[i]
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
    i += 1
print("Character occurrences:", char_count)

Character occurrences: {'W': 1, 'a': 3, 'l': 3, 'c': 2, 'h': 2, 'n': 3, 'd': 1, ' ': 4, 'I': 1, 's': 1, 't': 3, 'i': 1, 'u': 2, 'e': 2, 'O': 1, 'f': 1, 'T': 1, 'o': 3, 'g': 1, 'y': 1, ',': 1, 'S': 1, 'p': 1, 'r': 1}

In [63]:
# 2. Count repeated characters
repeated_chars = {}
i = 0
while i < len(string):
    char = string[i]
    if char_count[char] > 1:
        repeated_chars[char] = char_count[char]
    i += 1
print("Repeated characters:", repeated_chars)

Repeated characters: {'a': 3, 'l': 3, 'c': 2, 'h': 2, 'n': 3, ' ': 4, 't': 3, 'u': 2, 'e': 2, 'o': 3}

In [65]:
# 3. Split words
words = []
word = ""
i = 0
while i < len(string):
    if string[i].isalpha() or string[i] == "'":  # Consider only words (excluding punctuation)
        word += string[i]
    else:
        if word:
            words.append(word)
            word = ""
    i += 1
if word:
    words.append(word)  # Add the last word if any

print("Split words:", words)

Split words: ['Walchand', 'Institute', 'Of', 'Technology', 'Solapur']

In [67]:
# 4. Print even index characters
even_index_chars = "" 
i = 0
while i < len(string):
    if i % 2 == 0:
        even_index_chars += string[i]
    i += 1
print("Even index characters:", even_index_chars)

Even index characters: Wlhn nttt fTcnlg,Slpr

In [69]:
# 5. Print odd index characters
odd_index_chars = ""
i = 0
while i < len(string):
    if i % 2 != 0:
        odd_index_chars += string[i]
    i += 1
print("Odd index characters:", odd_index_chars)

Odd index characters: acadIsiueO ehooy oau

In [ ]:
def